.container {
  display: grid;
  grid-template-rows: 30px fit-content;
  gap: 0px 25px;
}

.localdateContainer {
  grid-template-columns: 80px 100px min-content;
}

.localdatetimeContainer {
  grid-template-columns: 80px 100px min-content 60px 60px;
}
